.h5{
	text-decoration: underline;
	text-decoration-color: crimson;
}

a svg:hover #plus {
  fill: #DC143C;
}

a svg:hover #minus {
	stroke: #DC143C;
}

a svg #plus,
a svg #minus {
  transition: 50ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 50ms;
  -webkit-transition-timing-function: ease-in-out;
}

a{
}

a:hover{
	color: black;
	text-decoration: line-through;
	text-decoration-color: crimson;
}

.ptitle:hover{
		color: black;
		text-decoration: line-through;
		text-decoration-color: crimson;
}

video {
  width: 80%    !important;
  height: auto   !important;
}

.img-responsive{
	display: block;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
}

.screencast{
	display: block;
	width: 80%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
}

.bash {
    white-space: pre-wrap;
		background-color: gainsboro;
		margin-left: 15%;
		margin-right: 15%;
		padding: 2%;
}

.thumbnail {
	position: relative;
  -ms-zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;

}

.thumbnail iframe {
  width: 1440px;
  height: 900px;
}

.thumbnail-container {
  width: calc(1440px * 0.6);
  height: calc(900px * 0.6);
  display: inline-block;
  overflow: hidden;
  position: relative;
}
