<div class="container-fluid content">

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2">
      <br>
      <p>
        Below are some projects or personal interests I have worked on.<br>
        If you have questions about any, or are looking for a developer to work on something similar, please reach out to me.
      </p>
    </div>
    <div class="col-md"></div>
  </div>

  <br><br>

  <div class="row mx-1">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 border rounded">
      <br>
      <h4 class="ptitle">
        <a (click)="sPlastick()"> "PlasTick" Gym App </a>
      </h4>
      <br>
      <p>
        Perhaps more of an obsession than a personal project, I have collaborated in building this app for the past year.<br>
      </p>

      <div *ngIf="ePlastick">
        The project is an angular mobile app built within the ionic4 framework, with a simple backend based on firestore.<br>
        The goal of the project is to create a digital interface for bouldering gyms, where users can locate, discover, create, and comunicate about climbing routes.<br><br>
        The app can be broken down into several sections.<br><br><br>

        <h5><i>The Route Feed:</i></h5>
        <div class="row mx-1">
          <div class="col-md">
            The feed can be viewed as a list, or as a map of the gym floor, both of which are populated by routes which can then be filtered.
            <br><br>
          </div>
          <div class="col-md" >
            <video class="video-fluid z-depth-1" controls muted>
              <source src="/assets/videos/route_feed.mp4" type="video/mp4" />
            </video>
          </div>
        </div>

        <br><br>

        <h5><i>The Route Details Page:</i></h5>
        <div class="row mx-1">
          <div class="col-md">
            Detailed view of the route, with information about what kind of route it is, as well as send feedback and comment with other users about the route.
            <br>
          </div>
          <div class="col-md">
            <video class="video-fluid z-depth-1" controls muted>
              <source src="/assets/videos/route_details.mp4" type="video/mp4" />
            </video>
          </div>
        </div>

        <br><br>

        <h5><i>The Route Creator:</i></h5>
        <div class="row mx-1">
          <div class="col-md">
            Here users create routes by taking a picture, drawing holds on the picture, locating the route on a map, and describing the routes features.
            <br>
          </div>
          <div class="col-md">
            <video class="video-fluid z-depth-1" controls muted>
              <source src="/assets/videos/route_creator.mp4" type="video/mp4" />
            </video>
          </div>
        </div>

        <br><br>

        <h5><i>Analytics & Collections:</i></h5>
        <div class="row mx-1">
          <div class="col-md">
            Users are then able to create custom lists or sets, as well as keep track of what routes they have climbed. In the future detailed analytics will be provided, so that users can understand their climbing and training from a deeper level.
            <br>
          </div>
          <div class="col-md">
            <video class="video-fluid z-depth-1" controls muted>
              <source src="/assets/videos/lists.mp4" type="video/mp4" />
            </video>
          </div>
        </div>
      </div>

      <div style="text-align:right;">
        <a *ngIf="!ePlastick" (click)="sPlastick()">
          <svg enable-background="new 0 0 30 30" height="30px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g><path id="plus" d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#000000"/><polygon id="plus" fill="#000000" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g>
          </svg>
        </a>
        <a *ngIf="ePlastick" (click)="sPlastick()">
           <svg enable-background="new 0 0 30 30" width="30px" height="30px" version="1.1" viewBox="0 0 31 31" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle id="minus" cx="16" cy="16" fill="none" r="14" stroke="#000000" stroke-miterlimit="10"/><line id="minus" fill="none" stroke="#000000" stroke-miterlimit="10" x1="24.4" x2="7.6" y1="16" y2="16"/></g></svg>
        </a>
      </div>
      <br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <br><br>


  <div class="row mx-1">
    <div class="col-md"></div>

    <div class="col-md-10 col-12 mt-2 border rounded">
      <br>
      <h5>Go</h5><br>
      <p>
        An attempt to understand something beautiful on a more profound level, and to expand it beyond what is possible in the physical world.<br>
      </p>

      <div *ngIf="eGo">
        Lorem ipsum dolor text....
      </div>

      <div style="text-align:right;">
        <a *ngIf="!eGo" (click)="sGo()">
          <svg enable-background="new 0 0 30 30" height="30px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g><path id="plus" d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#000000"/><polygon id="plus" fill="#000000" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g>
          </svg>
        </a>
        <a *ngIf="eGo" (click)="sGo()">
           <svg enable-background="new 0 0 30 30" width="30px" height="30px" version="1.1" viewBox="0 0 31 31" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle id="minus" cx="16" cy="16" fill="none" r="14" stroke="#000000" stroke-miterlimit="10"/><line id="minus" fill="none" stroke="#000000" stroke-miterlimit="10" x1="24.4" x2="7.6" y1="16" y2="16"/></g></svg>
        </a>
      </div>
      <br><br>
    </div>

    <div class="col-md"></div>
  </div>


  <br><br>


  <div class="row mx-1">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 border rounded">
      <br>
      <h5>Rofi, Bash, and i3</h5><br>
      <p>
        Exploring the distance between my desktop enviroment and my thought processes.<br>
      </p>

      <div *ngIf="eRofi">
        Lorem ipsum dolor text....
      </div>

      <div style="text-align:right;">
        <a *ngIf="!eRofi" (click)="sRofi()">
          <svg enable-background="new 0 0 30 30" height="30px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g><path id="plus" d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#000000"/><polygon id="plus" fill="#000000" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g>
          </svg>
        </a>
        <a *ngIf="eRofi" (click)="sRofi()">
           <svg enable-background="new 0 0 30 30" width="30px" height="30px" version="1.1" viewBox="0 0 31 31" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle id="minus" cx="16" cy="16" fill="none" r="14" stroke="#000000" stroke-miterlimit="10"/><line id="minus" fill="none" stroke="#000000" stroke-miterlimit="10" x1="24.4" x2="7.6" y1="16" y2="16"/></g></svg>
        </a>
      </div>
      <br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <br><br>

  <div class="row mx-1">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 border rounded">
      <br>
      <h5>Simple Angular Web Apps</h5><br>
      <p>
        From perosnal sites to product presentation to digital-format zines and letters, I enjoy exploring the process of constructing digital communication.<br>
      </p>

      <div *ngIf="eWeb">
        Lorem ipsum dolor text....
      </div>

      <div style="text-align:right;">
        <a *ngIf="!eWeb" (click)="sWeb()">
          <svg enable-background="new 0 0 30 30" height="30px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g><path id="plus" d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#000000"/><polygon id="plus" fill="#000000" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g>
          </svg>
        </a>
        <a *ngIf="eWeb" (click)="sWeb()">
           <svg enable-background="new 0 0 30 30" width="30px" height="30px" version="1.1" viewBox="0 0 31 31" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle id="minus" cx="16" cy="16" fill="none" r="14" stroke="#000000" stroke-miterlimit="10"/><line id="minus" fill="none" stroke="#000000" stroke-miterlimit="10" x1="24.4" x2="7.6" y1="16" y2="16"/></g></svg>
        </a>
      </div>
      <br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <br><br>

  <div class="row mx-1">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 border rounded">
      <br>
      <h5>Gender Trouble and RegEx</h5><br>
      <p>
        In learning spanish, one of the hardest things for me was understanding how gender worked in the language. This led me to some investigating.<br>
      </p>

      <div *ngIf="eGender">
        Lorem ipsum dolor text....
      </div>

      <div style="text-align:right;">
        <a *ngIf="!eGender" (click)="sGender()">
          <svg enable-background="new 0 0 30 30" height="30px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g><path id="plus" d="M256.108,3.02c-139.743,0-253,113.257-253,253s113.257,252.995,253,252.995   c139.743,0,253-113.252,253-252.995S395.852,3.02,256.108,3.02z M256.108,488.775c-128.338,0-232.76-104.417-232.76-232.755   c0-128.339,104.422-232.76,232.76-232.76c128.338,0,232.76,104.421,232.76,232.76C488.868,384.358,384.446,488.775,256.108,488.775   z" fill="#000000"/><polygon id="plus" fill="#000000" points="266.228,104.22 245.988,104.22 245.988,245.9 104.98,245.9 104.98,266.14 245.988,266.14    245.988,407.148 266.228,407.148 266.228,266.14 407.908,266.14 407.908,245.9 266.228,245.9  "/></g>
          </svg>
        </a>
        <a *ngIf="eGender" (click)="sGender()">
           <svg enable-background="new 0 0 30 30" width="30px" height="30px" version="1.1" viewBox="0 0 31 31" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle id="minus" cx="16" cy="16" fill="none" r="14" stroke="#000000" stroke-miterlimit="10"/><line id="minus" fill="none" stroke="#000000" stroke-miterlimit="10" x1="24.4" x2="7.6" y1="16" y2="16"/></g></svg>
        </a>
      </div>
      <br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <br><br><br>

</div>
