<div class="container-fluid content">

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <br><br><p>nov '18, fall:</p>
      <img class="img-responsive"src="../assets/fotos/11-nov-NY/000038.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/11-nov-NY/000036.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/11-nov-NY/000035.JPG" alt="image" /> <br>
      <img class="img-responsive "src="../assets/fotos/11-nov-NY/000034.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>oct '18, Cuetzalan, mx:</p>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000014.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/10-oct-Puebla/000016.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000020.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000023.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000024.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000025.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000026.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000028.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000036.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000009.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/10-oct-Puebla/000028_2.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>cdmx:</p>
      <img class="img-responsive"src="../assets/fotos/09-sept-cdmx/000010.JPG" alt="image" /><br>
      <img class="img-responsive-p"src="../assets/fotos/09-sept-cdmx/000016.JPG" alt="image" /><br>
      <img class="img-responsive"src="../assets/fotos/09-sept-cdmx/000032.JPG" alt="image" /><br>
      <img class="img-responsive"src="../assets/fotos/09-sept-cdmx/000039.JPG" alt="image" /><br>
      <img class="img-responsive"src="../assets/fotos/06-aug-cdmx/000028.JPG" alt="image" /><br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>aug, '18, chiapas ptii:</p>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000008.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000010.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000015.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000001.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000013.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000015_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000037.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>aug, '18, Morelia, tierra zapatista:</p>
      <img class="img-responsive"src="../assets/fotos/08-aug-chps/000030.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/07-aug-chps/000007.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/07-aug-chps/000012.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/07-aug-chps/000020.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/07-aug-chps/000022.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/07-aug-chps/000041.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>july, '18, southern Peru, color:</p>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000007.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000009.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000007_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000009_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000013.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000018.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000020.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000022.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000024.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000025.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000026.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000029.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000030.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000035.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/05-july-peru-col/000037.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>july, '18, southern Peru, b/w:</p>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000010.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000011.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000016.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000017.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/04-july-peru-bw/000018.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/04-july-peru-bw/000019.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000021.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/04-july-peru-bw/000024.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/04-july-peru-bw/000025.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000010_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000019_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000028.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000029.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000021_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000030.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/04-july-peru-bw/000035.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000037.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000038.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000039.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000040.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/04-july-peru-bw/000042.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>june-july, '18, cdmx, b/w:</p>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000001.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000012.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000013.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000014.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000016.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000022.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000023.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000033.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000035.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/03-jun-jul-cdmx/000037.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000038.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/03-jun-jul-cdmx/000040.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000039_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000042_2.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000039.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/03-jun-jul-cdmx/000043_2.JPG" alt="image" /> <br>
      <img class="img-responsive-p"src="../assets/fotos/03-jun-jul-cdmx/000042.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/03-jun-jul-cdmx/000043.JPG" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>march-may, '18:</p>
      <img class="img-responsive"src="../assets/fotos/02-march-may/000007.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/000010.JPG" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-01-00.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-02-0.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-10-8.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-13-11.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-14-12.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-35-33.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/02-march-may/A005525-R1-37-35.jpg" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 mt-2 album">
      <p>march-may, '18:</p>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-19-20.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-22-23.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-23-24.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-31-32.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-34-35.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-35-36.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-37-38.jpg" alt="image" /> <br>
      <img class="img-responsive"src="../assets/fotos/01-march/A005510-R1-38-39.jpg" alt="image" /> <br>
      <hr><br><br>
    </div>
    <div class="col-md"></div>
  </div>
</div>
