
<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md" style="background-color:;"></div>
    <div class="col-md-8 col-12 m-4 p-5 border rounded" style="background-color:;">
      <p class="text-center">
        email me at:<br>
        <a href = "mailto: yo@dawson.soy">yo@dawson.soy</a>
      </p>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
