
<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    padding: 0px 0px;
    overflow: hidden;
  }
</style>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md" style="background-color:;"></div>
    <div class="col-md-8 col-12 m-4 p-5 border rounded" style="background-color:;">
      <p class="text-center">
        email me at:<br>
        <a href = "mailto: yo@dawson.soy">yo@dawson.soy</a>
      </p>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
  <div class="row">
    <div class="col-md" style="background-color:;"></div>
    <div class="col-md-8 col-12 mt-2" style="background-color:;">
      <div id="gr_grid_widget_1550168792">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
        <p>
          <a rel="nofollow" href="https://www.goodreads.com/review/list/7878844-dawson?shelf=currently-reading&utm_medium=api&utm_source=grid_widget" target="_blank">currently-reading:</a>
        </p>
        <div class="gr_grid_container">
          <div class="gr_grid_book_container"><a title="Capital, Vol 1: A Critical Analysis of Capitalist Production" rel="nofollow" href="https://www.goodreads.com/book/show/325785.Capital_Vol_1" target="_blank"><img alt="Capital, Vol 1: A Critical Analysis of Capitalist Production" border="0" src="https://images.gr-assets.com/books/1348385812m/325785.jpg" /></a></div>
          <div class="gr_grid_book_container"><a title="Being Singular Plural" rel="nofollow" href="https://www.goodreads.com/book/show/652379.Being_Singular_Plural" target="_blank"><img alt="Being Singular Plural" border="0" src="https://images.gr-assets.com/books/1407813384m/652379.jpg" /></a></div>
          <div class="gr_grid_book_container"><a title="A History of Civilizations" rel="nofollow" href="https://www.goodreads.com/book/show/168445.A_History_of_Civilizations" target="_blank"><img alt="A History of Civilizations" border="0" src="https://images.gr-assets.com/books/1348264519m/168445.jpg" /></a></div>
          <div class="gr_grid_book_container"><a title="Las batallas en el desierto" rel="nofollow" href="https://www.goodreads.com/book/show/1365225.Las_batallas_en_el_desierto" target="_blank"><img alt="Las batallas en el desierto" border="0" src="https://images.gr-assets.com/books/1304602212m/1365225.jpg" /></a></div>
          <br style="clear: both"/>
        </div>
      </div>
      <script src="https://www.goodreads.com/review/grid_widget/7878844.currently-reading%20book%20montage?cover_size=medium&hide_link=&hide_title=&num_books=20&order=a&shelf=currently-reading&sort=date_added&widget_id=1550168792" type="text/javascript" charset="utf-8"></script>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
  <div class="row">
    <div class="col-md" style="background-color:;"></div>
    <div class="col-md-8 col-12 mt-2">
      <p><a href="https://www.instagram.com/dawsonweehunt/" target="_blank">instagram:</a></p>
      <div class="instag">
        <div class="instag-content">
          <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
          <iframe src="//lightwidget.com/widgets/a8fb280c50435d5fa00cb501129b165a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;height:100%;border:0;"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
