<div class="container-fluid content">

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12" style="margin">
      <div class="box" style="width:85%; margin: 0 auto; padding-top: 5%;">
        <img class="img-responsive profile"src="../assets/imgs/kupka_babylon.jpg" alt="portrait image" />
        <div class="img-title">
          <p class="font-weight-normal overlay">
            Reflections on Civilizations</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-8 col-12" style="margin">
      <br><br>
      <p>
        &nbsp;&nbsp;Fernand Braudel, the famous French Historian and promminant memeber of <i><a href="https://en.wikipedia.org/wiki/Annales_school" target="_blank">"École des Annales"</a></i>
        spent 5 years as a prisoner of war in Lübeck, Germany, up until the end of the Second World War. While in captivity he wrote most of his landmark thesis
        <i>La Méditerranée et le Monde Méditerranéen à l'Epoque de Philippe II (1949) (The Mediterranean and the Mediterranean World in the Age of Philip II)</i>
        — partly, he said, as a <i>'direct existential response to the tragic times I was passing through.'</i><br>
        He remarks:<br>
      </p>
        <blockquote>
          "All those occurrences which poured in upon us from the radio and the newspapers of our enemies, or even the news from London which our
          clandestine recievers gave us — I had to outdistance, reject, deny them. Down with occurrences, especially the vexing ones! I had to
          believe that history, destiny, was written at a much more profound level. Choosing a long time scale to observe from was choosing the
          position of God the Father himself as refuge. Far removed from our persons and our daily misery, history was being made, shifting slowly,
          as slowly as the ancient life of the Mediterranean, whose perdurability and majestic immobility had so often moved me."
        </blockquote>
        <p>
          &nbsp;&nbsp;Thus Braudel approach history as something almost transcendental — seeking a deeper, more profound understanding of what is happening
          beneath the confusing flury of the occurrences we witness in our lifetime. He describes these singular events in history, no matter how striking,
          absurd, or important, as <i>"crests of foam that the tides of history cary on their stormy backs."</i> Immediatley called to attention then, is
          the personal and dialectical relationships that the individual has with history. On this note, Braudel writes:<br>
        </p>
        <blockquote>
          "Man do not make history, rather it is history above all that makes man and thereby absolves them from blame."
        </blockquote>


    </div>
    <div class="col-md"></div>
  </div>

  <br><br>

</div>
