<div class="container-fluid content">

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12" style="margin">
      <div class="box" style="width:85%; margin: 0 auto; padding-top: 5%;">
        <img class="img-responsive profile"src="../assets/imgs/kupka_life.jpg" alt="portrait image" />
        <div class="img-title">
          <p class="font-weight-normal overlay">
            Reflections on Civilizations and the Individual</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-8 col-12" style="margin">
      <br><br>
      <p>
        &nbsp;&nbsp;Fernand Braudel, the famous French Historian and prominent member of <i><a href="https://en.wikipedia.org/wiki/Annales_school" target="_blank">"École des Annales"</a></i>
        spent 5 years as a prisoner of war in Lübeck, Germany, up until the end of the Second World War. While in captivity he wrote most of his landmark thesis
        <i>La Méditerranée et le Monde Méditerranéen à l'Epoque de Philippe II (1949) (The Mediterranean and the Mediterranean World in the Age of Philip II)</i>
        — partly, he said, as a <i>'direct existential response to the tragic times I was passing through.'</i><br>
        He remarks:<br>
      </p>
        <blockquote>
          "All those occurrences which poured in upon us from the radio and the newspapers of our enemies, or even the news from London which our
          clandestine receivers gave us — I had to outdistance, reject, deny them. Down with occurrences, especially the vexing ones! I had to
          believe that history, destiny, was written at a much more profound level. Choosing a long time scale to observe from was choosing the
          position of God the Father himself as refuge. Far removed from our persons and our daily misery, history was being made, shifting slowly,
          as slowly as the ancient life of the Mediterranean, whose perdurability and majestic immobility had so often moved me."
        </blockquote>
        <p>
          &nbsp;&nbsp;Thus Braudel approach history as something almost transcendental — seeking a deeper, more profound understanding of what is happening
          beneath the confusing flurry of the occurrences we witness in our lifetime. He describes these singular events in history, no matter how striking,
          absurd, or important, as <i>"crests of foam that the tides of history carry on their stormy backs."</i> Immediately called to attention then, is
          the personal and dialectical relationships that the individual has with history. On this note, Braudel writes:<br>
        </p>
        <blockquote>
          "Man do not make history, rather it is history above all that makes man and thereby absolves them from blame."
        </blockquote>
        <p>
          It is a striking quote... especially coming from someone who lived to see Hitler and spent years of his life in the war. Perhaps that alone,
          aside from Braudel's influence as a historian, demands that we try and digest what he is getting at here. While not yet willing to absolve guilt,
          nor the individual, nor individual culpability, let us try and understand the individual in the context of Braudel's understanding of civilization,
          as well as what the concept of <i>civilization</i> itself could be.<br>
          <br>
          Braudel loosely breaks down history into three levels:<br>
        </p>
        <blockquote>
          The first part is devoted to a history whose passage is almost imperceptible, that of man
          in his relationship to the environment, a history in which all change is slow, a history of
          constant repetition, ever-recurring cycles.  I could not neglect this almost timeless history,
          the story of man's contact with the inanimate, neither could I be satisfied with the traditional
          geographical introduction to history that often figures to little purpose at the beginning of
          so many books, with its descriptions of the mineral deposits, types of agriculture, and typical
          flora, briefly listed and never mentioned again, as if the flowers did not come back every spring,
          the flocks of sheep migrate every year, or the ships sail on a real sea that changes with the seasons.<br>
          <br>
          On a different level from the first there can be distinguished another history, this time with slow but
          perceptible rhythms. If the expression had not been diverted from its full meaning, one could call
          it social history, the history of groups and groupings. How did theses welling-currents affect Mediterranean
          life in general - this was the question I asked myself... studying in turn economic systems, states, societies,
          civilizations and finally, in order to convey more clearly my conception of history, attempting to show how all
          these deep-seated forces were at work in the complex arena of warfare. For war, as we know, is not an arena
          governed purely by individual responsibilities.<br>
          <br>
          Lastly, the third part gives a hearing to traditional history - history, one might say, on the scale not of man,
          but of individual men... A history of brief, rapid, nervous fluctuations, by definition ultra-sensitive; the least
          tremor sets all its antennae quivering. But as such it is the most exciting of all, the richest in human interest,
          and also the most dangerous. We must learn to distrust this history with its still burning passions, as it was
          felt, described, and lived by contemporaries whose lives were as short and as short-sighted as ours. It has the
          dimensions of their anger, dreams, or illusions. The historian who takes a seat in Philip II's chair and reads his
          papers finds himself transported into a strange one-dimensional world, a world of strong passions certainly,
          blind like another living world, our own included, and unconscious of the deeper realities of history, of the
          running waters on which our frail barks are tossed like cockle-shells. A dangerous world, but one whose spells
          and enchantments we shall have exorcised by making sure first to chart those underlying currents, often noiseless,
          whose direction can only be discerned by watching them over long periods of time. Resounding events are often only
          momentary out bursts, surface manifestations of these larger movements and explicable only in terms of them.
        </blockquote>
        <p>
          &nbsp;Then what, is the individual, on the <i>"scale of individual men"</i>, but in the context of the <i>"longue duree"</i>
          in which we make out those larger movements and fundamental structures. While still distinct, the individual then becomes
          slightly unfocused, blending as it were more into the context of which it belongs, then something apart and independent from
          it.<br>
          <br>
          Of course, I have passed almost the entirety of my life (like most of humans), completely immersed in that third layer, concerned
          with the inconceivable weight of the existence of individuals and experiences, entrenched —thoroughly— in the modern condition and
          my own life and relations within and with it. Under mounting pressure and absorption of this (mis)understanding, where the intensity
          of not only my life, but those of my loved ones, and even those of strangers, painted confusing shapes and framed the world in an
          almost unengageable way. Slowly, I began seeking a deeper understanding, trying to elucidate what I came to see as symptoms of
          those more profound currents of the world. For this I resonated so deeply with the image of Braudel in prison, shutting off
          all events and occurrences <i>("especially the vexing ones!")</i>, not to ignore the world, but to understand it deeply, more
          profoundly. It is a remarkable phenomenon: that perplexing fact that we compose and are composed of our context. Braudel hints
          at this:
        </p>
        <blockquote>
          "Civilizations are extraordinary creatures, whose longevity passes all understanding. Fabulously ancient, they live on in each
          of us; and they will still live on after we have passed away."
        </blockquote>
        <p>
          I have found that deciphering —or at least attempting to decipher— this complex context reaching through us makes it increasingly
          difficult to define the individual, but haltingly elucidating to understand them. However in the quote above, Braudel employs the
          word civilization, not merely 'context', and it is worth attempting to unearth what he means by this.
        </p>
        <br><br>

    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-10 col-12" style="margin">
      <div class="box" style="width:85%; margin: 0 auto; padding-top: 5%;">
        <img class="img-responsive profile"src="../assets/imgs/kupka_babylon.jpg" alt="portrait image" />
        <div class="img-title">
          <p class="font-weight-normal overlay">
            <i>Understanding Civilizations</i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="row">
    <div class="col-md"></div>
    <div class="col-md-8 col-12" style="margin">
      <br><br>
      <p>
        Braudel loosely outlines four social sciences that must be used to understand a civilization; geography, sociology, economies, and collective psychology.
        He lays these social sciences out as the necessary characteristics, before discussing the history of civilizations, where he demarcates what he considers
        to be the most fundamental structures; the aspects of some civilization which can transcend it's specific or current geography or economy.<br>
        <!--remark on the dialectical nature of everything? or specifically between each of these traits and the 'fundamental structures', and vis versa?-->
        <br>
      </p>
      <h6>1. Civilizations as Geographic Areas.</h6>
      <blockquote>
        "Civilizations, vast or otherwise, can always be located on a map."
      </blockquote>
      <p>
        Anchoring our understanding in physical reality, it is important to view nothing as a passive actor. When we speak of space, land, animals, we speak not
        only of their affect on any civilization, but likewise the effect of civilization on these elements.<br>
        Braudel, however, begins to construct a specific kind of understanding of this dialectic, by mentioning an theory put forth by Arnold Toynbee:
      </p>
      <blockquote>
        "All human achievement, he thought, involved challenge and response. Nature had to present itself as a difficulty to be overcome.
        If human beings took up the challenge, their response would lay the foundations of civilization."
      </blockquote>
      <p>
        While this passage can not be described in terms of <i>correctness</i>, it does demarcate the framing through which Braudel views the
        concept of a civilization. It does indeed capture some aspect of the human condition, but in a way of doing which states that to be
        of a civilization, the human must be severed of and from the context of their environment, viewing all that is non-human as a "challenge."<br>
        He then continues, stating that not only is a challenge and response necessary, but that "civilization does not always follow — at least
        until improved technology makes the response more adequate"
        It is also to say that any human action or understanding that is not challenge-oriented can not be considered 'achievement', and that
        those who do not engage in this understanding of their environment can not or have not founded civilizations.
      </p>
      <br>
      <h6>2. Civilizations as Societies</h6>
      <blockquote>
        "There can be no civilizations without the societies that support them and inspire their tensions and their progress."
      </blockquote>
      <p>
        It is difficult to extract what exactly is the difference Braudel sees between civilization and society, and he does not
        explicitly spell it out. He does lean on Marcel Mauss' statement that society presupposes civilization, and then implies
        that the civilization is something much deeper, and that "if a society stirs and changes, the civilization based on it
        stirs and changes too."<br>
        He does give us some more defining features, first referring to insights made by Lucien Goldman:
      </p>
      <blockquote>
        "Every civilization... draws its essential insights from the 'view of the world' it adopts. And in every case this view of
        the world is colored, if not determined by social tensions. Civilization simply reflects them like a mirror."
      </blockquote>
      <p>
        We will return to this understanding of civilizational 'view of the world'. First let us try to clarify the difference
        between civilization and society. Braudel hints:
      </p>
      <blockquote>
        "For Lévi-Strauss... primitive cultures are the fruit of egalitarian societies, where relations between groups are
        settled once and for all and remain constant, whereas civilizations are based on hierarchical societies with wide
        gaps between groups and hence shifting tensions, social conflicts, political struggles, and continual evolution."
      </blockquote>
      <p>
        Setting aside the absurd notion that relations in <i>any</i> society could be "settled once and for all and remain constant,"
        Braudel insinuates that civilizations have an explicitly hierarchical social structure.<br>
        <br>
        Lastly, Braudel gives us a very firm indication to what he defines as something which can be considered a city, versus
        something which can only be considered a society.
      </p>
      <blockquote>
        "The most obvious external sign of these differences between 'cultures' and 'civilizations' is undoubtedly the presence or
        absence of towns. Towns proliferate in civilizations: in cultures they remain embryonic."
      </blockquote>
      <p>
        It is interesting to note that a slight shift in perspective dramatically outlines different shapes while looking at the
        same figures. If, for instance, we take towns as a result of a hierarchical social order, we can then see civilization as
        a result of towns, with its base in hierarchy. In all forms, this is essential: in Braudel's definition of civilization,
        towns are the marking feature. <br>
        In an attempt to try and give awareness to the complexity of historical processes, I feel it can be beneficial to not see
        civilization as a result of towns, towns as a result of hierarchy, or civilization as the result of hierarchy... but
        understand that all three likely compound and retaliate amongst one another.<br>
        <br>
        Still, the definition Braudel implies is such: hierarchy and towns are defining and essential characteristics of civilization.
        While not opposed to this definition, one has to ponder its implications. In the light of all human existence, civilization
        then is undoubtedly the loudest form of humanity. However, following this definition, it is not the <i>only</i> form of humanity,
        and certainly not the most frequent, as it is a relatively (to the species) recent phenomenon.
      </p>
    </div>
    <div class="col-md"></div>
  </div>

  <br><br>
<!--
  1. something with a geographic reality.
      {what is the temporality and continuity required to form this geographic reality?
       if I leave a nation-state I am from, am i no longer from that civilization? am i not
       bringing it with me? am I always bringing it with me? if I quit eating traditional food
       or speaking the language, have I quit bringing it with me? at what point am I or am I not
       constituting a civilization? imagine a live time map of a civlization being performed and
       constituted... it would flash dramatically all colors, all across the globe, intermixing
       shifting every second. Equally, while it is more complicated today, the 'continuity',
       or 'simplicity' that we might imagine of earlier stages of human civilizations, must be a
       farce, with many large civilizations conssisting of hardly defined blurs and interchanges.}

  2. civilization is not possible unless some human grouping percieves some 'natural challenge', and presents an 'adequate' response.
      {this is to say that any cosmovision that does not frame the world as a challenge can not
       form a civilization. Also who or what defines this response being adequate enough?}

  3. civilization implies cosmovision
      {cosmovision implies civilization? I doubt.}

  4. civilization implies town/hierarchy
      {hierarchy implies towns/civilization? not always.}
-->



























</div>
