
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-primary: mat-palette($mat-indigo);
$portfolio-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-theme);
$mdc-typography-font-family: unquote("Sorts Mill Goudy, sans-serif");

$custom-typography: mat-typography-config(
  $font-family: 'Sorts Mill Goudy, serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);


/* You can add global styles to this file, and also import other style files */
body {
	margin: 0 auto;
	padding: 0 auto;
  font-size: 1rem;
  font-family: 'adriane', Georgia, serif;
  color: #494c4e;
  -webkit-font-smoothing: antialiased;

}

a {
	color: crimson;
}
a:hover{
	color: black;
	text-decoration: line-through;
	text-decoration-color: crimson;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;
}

.navbar-light
.navbar-nav .nav-link:hover{
	color: black;
	text-decoration: line-through;
	text-decoration-color: crimson;
}

.centered {
  position: absolute;
	width: 80%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
	max-height:50%;
	width:100%;
	position: relative;
}

.overlay {
	  background:rgba(0,0,0,0.5);
    font-size: 30px;
}

.box{
  position:relative;
  min-height: 200px;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 10%;
  right: 10%;
  top: 50%;
}

@media (max-width: 767px) {
    .overlay{
      font-size: 18px;
    }
    .img-title{
      top: 40%;
      left: 2%;
      right: 2%;
    }
    .profile{
      min-height: 25%;
    }
}

@media (max-width: 350px) {
  .img-title{
    top: 20%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
