<div class="container-fluid content">
  <div class="row">
    <div class="col-md" style="background-color:blue;"></div>
    <div class="col-8-lg p-3 my-3" style="background-color:;">
      <div class="box" style="background-color:yellow;">
        <img class="img-responsive profile"src="../assets/portrait.jpg" alt="portrait image" />
        <div class="img-title">
          <h4 class="font-weight-normal overlay">
            Hello, my name is Dawson. Based out of Mexico city,
            I develop web / mobile apps, write, take photos, and read.</h4>
        </div>
      </div>
    </div>
    <div class="col-md" style="background-color:green;"></div>
  </div>
</div>
