<div class="container-fluid content">
  <div class="row">
    <div class="col-md" style="background-color:;"></div>
    <div class="col-md-10 col-12 mt-2" style="background-color:;">
      <div class="box" style="background-color:;">
        <img class="img-responsive profile"src="../assets/portrait.jpg" alt="portrait image" />
        <div class="img-title">
          <p class="font-weight-normal overlay">
            Hello, my name is Dawson. Based out of Mexico city,
            I develop web / mobile apps, write, take photos, and read.</p>
        </div>
      </div>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
